<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="car_model" default="$(find car_description)/sdf/model.sdf.xacro"/> 
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>

<include file="$(find gazebo_ros)/launch/empty_world.launch">
  <arg name="debug" value="$(arg debug)" />
  <arg name="gui" value="$(arg gui)" />
  <arg name="paused" value="$(arg paused)"/>
  <arg name="use_sim_time" value="$(arg use_sim_time)"/>
  <arg name="headless" value="$(arg headless)"/>
</include>

<param name="car_description" command="$(find xacro)/xacro.py $(arg car_model)" />
<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
      args="-x $(arg x) -y $(arg y) -unpause -sdf -model car -param car_description" 
      respawn="false" output="screen" /> 

<node name="ar_tag_position" pkg="ar_tag_position" type="ar_tag_position" respawn="false" output="screen" args="_bottom_camera_topic:=/ardrone/ar_tag_bottom _front_camera_topic:=/ardrone/ar_tag_front _output_topic:=ar_tag_position">
  <param name="bottom_camera_topic" value="/ardrone/ar_tag_bottom" type="str"/>
  <param name="front_camera_topic" value="/ardrone/ar_tag_front" type="str"/>
  <param name="output_topic" value="ar_tag_position" type="str"/>
</node> 

<include file="$(find cvg_sim_gazebo)/launch/spawn_quadrotor.launch">
  <arg name="model" value="$(find cvg_sim_gazebo)/urdf/quadrotor_sensors.urdf.xacro"/>
</include>

</launch>
